In [41]:
import requests
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [42]:
df = pd.read_csv("USDT_NGN rates.csv", parse_dates=['Date'], index_col='Date')  # Assuming 'Date' is the index

In [43]:
df.head()

                       open    high     low   close
Date
2023-11-13 16:00:00  1096.4  1096.4  1096.4  1096.4
2023-11-13 17:00:00     NaN     NaN     NaN     NaN
2023-11-13 18:00:00     NaN     NaN     NaN     NaN
2023-11-13 19:00:00     NaN     NaN     NaN     NaN
2023-11-13 20:00:00  1106.2  1109.9  1106.2  1106.5

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 214 entries, 2023-11-13 16:00:00 to 2023-11-15 21:00:00
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    87 non-null     float64
 1   high    87 non-null     float64
 2   low     87 non-null     float64
 3   close   87 non-null     float64
dtypes: float64(4)
memory usage: 8.4 KB

In [ ]:
df['Date'] = df.index
df['BarColor'] = df[['open', 'close']].apply(lambda x: 'red' if x.open > x.close else 'green', axis=1)
#df['DateStr'] = df.Date.astype(str)

In [ ]:
df.Date.values[-1]

In [ ]:
df.head()

In [ ]:
df['BarColor'].value_counts()

In [ ]:
df.info()

In [ ]:
df['Date'][0]

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
df['Date'][0]