In [41]:
import requests
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [42]:
df = pd.read_csv("USDT_NGN rates.csv", parse_dates=['Date'], index_col='Date')  # Assuming 'Date' is the index

In [43]:
df.head()

                       open    high     low   close
Date
2023-11-13 16:00:00  1096.4  1096.4  1096.4  1096.4
2023-11-13 17:00:00     NaN     NaN     NaN     NaN
2023-11-13 18:00:00     NaN     NaN     NaN     NaN
2023-11-13 19:00:00     NaN     NaN     NaN     NaN
2023-11-13 20:00:00  1106.2  1109.9  1106.2  1106.5

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 214 entries, 2023-11-13 16:00:00 to 2023-11-15 21:00:00
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    87 non-null     float64
 1   high    87 non-null     float64
 2   low     87 non-null     float64
 3   close   87 non-null     float64
dtypes: float64(4)
memory usage: 8.4 KB

In [45]:
df['Date'] = df.index
df['BarColor'] = df[['open', 'close']].apply(lambda x: 'red' if x.open > x.close else 'green', axis=1)
#df['DateStr'] = df.Date.astype(str)

In [50]:
df['Date'] = df.Date.values

In [51]:
df.head()

,open,high,low,close,Date,BarColor
Date,,,,,,
2023-11-13 16:00:00,1096.4,1096.4,1096.4,1096.4,2023-11-13 16:00:00,green
2023-11-13 17:00:00,NaN,NaN,NaN,NaN,2023-11-13 17:00:00,green
2023-11-13 18:00:00,NaN,NaN,NaN,NaN,2023-11-13 18:00:00,green
2023-11-13 19:00:00,NaN,NaN,NaN,NaN,2023-11-13 19:00:00,green
2023-11-13 20:00:00,1106.2,1109.9,1106.2,1106.5,2023-11-13 20:00:00,green

In [48]:
df['Date'][-1]

C:\Users\Gbemike\AppData\Local\Temp\ipykernel_18972\84585278.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['Date'][-1]

Timestamp('2023-11-15 21:00:00')

In [52]:
def load_dataset():
    df = pd.read_csv("USDT_NGN rates.csv", parse_dates=True)
    df['Date'] = pd.to_datetime(df['Date'])

    return df

original_df = load_dataset()

In [55]:
original_df.Date

0     2023-11-13 16:00:00
1     2023-11-13 17:00:00
2     2023-11-13 18:00:00
3     2023-11-13 19:00:00
4     2023-11-13 20:00:00
              ...
209   2023-11-15 17:00:00
210   2023-11-15 18:00:00
211   2023-11-15 19:00:00
212   2023-11-15 20:00:00
213   2023-11-15 21:00:00
Name: Date, Length: 214, dtype: datetime64[ns]

In [ ]:
df.head()

In [ ]:
df['BarColor'].value_counts()

In [ ]:
df.info()

In [ ]:
df['Date'][0]

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')

In [57]:
import json

In [68]:
symbols = 'USDTNGN'
endpoint = f'https://api.binance.com/api/v3/ticker/price?symbol={symbols}'

response = requests.get(endpoint)
data = response.json()
with open("data.json", "w") as f:
    json.dump(data, f)

In [ ]:
#os.makedirs("data", exist_ok=True)

In [1]:
import requests
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

df = pd.read_csv('binance_data.csv')
df['Date'] = pd.to_datetime(df['Date'], format='mixed')
df = df.set_index('Date')
#ohlc_df = df['Price'].resample('15M').ohlc()
ohlc_df = df.resample('15T').agg({'Price': 'ohlc'})
ohlc_df.to_csv('test.csv', mode='a', header=False)